/* Slider */
#body_slider{
    width: 100%;
    height: 400px;
    margin-top:3px;
    box-shadow: rgb(204,219,232) 3px 3px 6px 0px inset, rgba(255,255,255,0.5) -3px -3px 6px 1px inset;
}
#margin{
    margin-left:5%;
    margin-right: 5%;
    font-family: Lato;
}
#Div1{
    display: flex;
    gap:10px;
    font-family: Lato;

}
#Div1>p:nth-child(1){
    color: rgb(63, 195, 243);
    transition: all 0.1s ease 0s;
    text-transform: capitalize;
}
#Div1>p:nth-child(2){
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    color: rgb(138, 140, 139);
}
#Div1>p:nth-child(3){
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    color: rgb(138, 140, 139);
}
/* Title-bestseller */
#bestseller{
    text-align: left;
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: Lato;
}
/* Best Seller Products */
#best_prod{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:5px;
    font-family: Lato;
}
#best_prod>div{
    list-style-type: none;
    /* position: relative; */
    background: white;
    text-align: center;
    margin: 0.5rem;
    height: max-content;
    border: 0.12rem dotted rgba(135, 190, 73, 0.5);
    box-shadow: rgb(0 155 0 / 4%) 0px 0px 12px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    font-family: Lato;
}
#best>img{
    width: 100%;
    /* position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px; */
}
.tag {
    /* position: absolute; */
    width: 120px;
    padding: 5px;
    background-color: #ff5b6f;
    color: white;
    font-size: 15px;
    border-radius: 5px 0 5px 0;
  }
#best_prod>div>p:nth-child(3){
    padding: 10px;
    font-family: Lato;
}
#best_prod>div>p:nth-child(4){
    width: 10%;
    margin: auto;
    background-color: rgb(109, 165, 35);
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
    font-family: Lato;
}
#best_prod>div>button{
    flex: 1 1 0%;
    background-color: white;
    border: 0.12rem solid rgba(0, 0, 0, 0.15);
    margin: 0rem 0.5rem 0.5rem;
    color: rgb(0, 175, 239);
    font-weight: bold;
    padding: 0.7rem 1rem;
    font-family: Lato;
    width: 90%;
}
#best_prod>div>div{
    justify-content: center;
    display: flex;
    /* text-align: center; */
    margin-top: 10px;
    gap: 5px;
    font-family: Lato;
}
#best_prod>div>div>p{
    color: rgb(29, 29, 29);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px 3px;

}
#best_prod>div>div>s{
    text-decoration: line-through;
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
    font-weight: 300;
    font-family: Lato;
}
#best_prod>div>div>p:nth-child(3){
    color: rgb(255, 0, 0);
    font-size: 0.7rem;
    font-weight: bold;
    /* border-left: 1.5px solid rgb(189, 189, 189); */
    padding-left: 3px;
}
#best_prod>div:hover > button{
    background-color: rgb(0, 175, 239);
    color: white;
}
#title{
    text-align: center;
    color: rgb(29, 29, 29);
    font-size: 24px;
    margin: 0.5rem 0px;
    font-family: Lato;
}
#tit{
    display: flex;
     justify-content: space-between;
     font-family: Lato;
}
.tit{
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: 600;
    font-family: Lato;
}
#sort{
    display: flex;
}
.sort{
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 175, 239);
    font-family: Lato;
}
#B_sorter{
    border:2px solid rgb(0, 175, 239); border-radius:7px; height: 25px; width: 100px;margin-top: 14px;
    text-align:left;
}
#prod_button:hover{
    display: inline;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.4rem;
    color: rgb(0, 175, 239);
    border: 1px solid rgb(0, 175, 239);
    background-color: rgba(0, 175, 239, 0.05);
    border-radius: 10rem;
}
#prod_button{
    display: inline;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.4rem;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 221);
    background-color: white;
    border-radius: 10rem;
}
#prod_buttonALL
{
    display: inline;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.4rem;
    color: rgb(0, 175, 239);
    border: 1px solid rgb(0, 175, 239);
    background-color: rgba(0, 175, 239, 0.05);
    border-radius: 10rem;
}
#B_main{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:5px;
}
#B_main>div{
    list-style-type: none;
    /* position: relative; */
    background: white;
    text-align: center;
    margin: 0.5rem;
    height: max-content;
    border: 0.12rem dotted rgba(135, 190, 73, 0.5);
    box-shadow: rgb(0 155 0 / 4%) 0px 0px 12px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
#photo{
    width: 100%;
    /* position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px; */
}
#B_title{
    padding: 10px;
    margin-top: -20px;
}
.B_rating{
    width: 10%;
    margin: auto;
    background-color: rgb(109, 165, 35);
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
}
#addTocart{
    flex: 1 1 0%;
    background-color: white;
    border: 0.12rem solid rgba(0, 0, 0, 0.15);
    margin: 0rem 0.5rem 0.5rem;
    color: rgb(0, 175, 239);
    font-weight: bold;
    padding: 0.7rem 1rem;
    width: 90%;
    margin-top: 10px;
}
#PRICE{
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    margin-left: 12px;
}
#PRICE>p{
    color: rgb(29, 29, 29);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px 3px;
}
#PRICE>s{
    /* margin-top: 18px; */
    text-decoration: line-through;
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
    font-weight: 300;
}
#PRICE>p:nth-child(3){
    color: rgb(255, 0, 0);
    font-size: 0.7rem;
    font-weight: bold;
    /* border-left: 1.5px solid rgb(189, 189, 189); */
    padding-left: 3px;
}
#B_main>div:hover > button{
    background-color: rgb(0, 175, 239);
    color: white;
}

/* massagepopup */

.alert{
    /* background: #e1e6e9; */
    padding: 10px 20px;
    min-width: 180px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #71f577;
    overflow: hidden;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    pointer-events: none;
    margin-top: 30px;
    background-color: white;
  }
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
     margin-right: 500px;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
    
  }
  @keyframes show_slide {
    0%{
      transform: translateY(0%);
      
    }
    40%{
      transform: translateY(100%);
    }
    80%{
      transform: translateY(0%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  .alert.hide{
    animation: hide_slide 0.5s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(0%);
    }
    40%{
      transform: translateY(0%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translatey(-300%);
    }
  }
  
  .alert .msg{
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: #2f2e30;
  }
  /* ************ */