
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  overflow: hidden;
}
button{
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #4be451;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
.alert{
  /* background: #e1e6e9; */
  padding: 10px 20px;
  min-width: 180px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #71f577;
  overflow: hidden;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  pointer-events: none;
  margin-top: 30px;
 
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
   margin-right: 500px;
}
.alert.show{
  animation: show_slide 1s ease forwards;
  
}
@keyframes show_slide {
  0%{
    transform: translateY(0%);
    
  }
  40%{
    transform: translateY(100%);
  }
  80%{
    transform: translateY(0%);
  }
  100%{
    transform: translateX(0%);
  }
}
.alert.hide{
  animation: hide_slide 0.5s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(0%);
  }
  40%{
    transform: translateY(0%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translatey(-300%);
  }
}

.alert .msg{
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  color: #2f2e30;
}
