#navbar{
    display:inline;
   position: fixed;
  top: 0;
  width: 100%;
}
#navbar>div:nth-child(1){
      display:flex;
      height:30px;
      background-color: #d4424c;
}
#navbar>div:nth-child(2){
      display:flex;
      /* border: 0.5px solid gray; */
      height:54px;
      background-color: white;
}
#navbar>div:nth-child(3){
      border: 0.01px solid rgb(226, 222, 222);
}
#navbar>div:nth-child(4){
    display:flex;
      /* border: 0.5px solid gray; */
      height:38px;
      width:100%;
      margin: auto;
      justify-content: space-evenly;
       background-color: white;
}
#navbar>div:nth-child(4)>div{
    width:80%;
    display: flex;
     justify-content: space-evenly;
}
#m1{
    justify-content: space-around;
    color:white;
    box-sizing: border-box;
}
#m1>p{
    margin-top: 5px;
    font-size: 12px ;
    font-style: latto;
}
#m2{
     justify-content: space-around;
     padding-top:10px;
     box-sizing: border-box;
     
}
#m2>div>img{
    height:27px;
    width:120px
}
#m2>div{
    display: flex;
}
#m2>div>input{
    width:400px;
    height:33px;
    outline: none;
    border: 1px solid gray;
     border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    padding-left: 5px;
}
#m2>div>button{
    display: flex;
    width:85px;
    height:33.15px;
    margin-left:-1px;
    background-color: #00afef;
    outline: none;
    border: 1px solid#00afef;
    color: white;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#m2>div>input:hover{
   border: 1px solid #00afef;;
}
#cartdiv>div{
    display:flex;
    justify-content: space-around;
    width:100px;
    color:#00afef;
    margin-top: 3px;
}
#m2>div>button>i{
   margin-right: 10px;
   margin-top: 7px;
}
#m2>div>button>p{
   margin-top: 5px;
}
#circle{
    /* border:1px solid red; */
    border-radius: 50%;
    width:18px;
    height:18px;
    margin-left: -25px;
    margin-top: -12px;
    /* padding-top: -20px; */
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    padding-left:5px;
}

#m3>div>p{
    color: #5c5b5b;
    font-size: 12px;
    font-weight: 550;
    font-family: roboto;
    font-style: lato;
}
#m3>div>p:hover{
      color:#00afef
}
#cart,#login{
    color: #8a8a8a;
     font-weight: 550;
     margin-top: -1px;
}
#cartdiv>div>i{
    height:15px
}