*{
    font-family: sans-serif;
}   
.tag {
    /* position: absolute; */
    width:30%;
    padding: 5px;
    background-color: rgb(255, 91, 111);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 5px 0 5px 0;
    margin-top: -4px;
  }   
  /* .tag{
    left: 0.5rem;
    background-color: rgb(255, 91, 111);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    padding: 5px 5px 2px;
    margin-top: -4px;
    width:32%;
    height: 15px;
  } */
  #bestes{
           display: grid;
           width:90%;
           margin: auto;
           margin-top: 10px;
           grid-template-columns: repeat(4,1fr);
           gap: 10px;   
        }
        #bestes>div{
            /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
            border: 0.12rem dotted rgba(135, 190, 73, 0.5);
            box-shadow: rgb(0 155 0 / 4%) 0px 0px 12px;
            width:280px;
            height: 450px;
            margin: auto;
            text-align: center;
            line-height: 14px;
          }
        #bestes>div>img{
            height:247px;
        }
        #bestes>.small:hover>.adda{
            background-color: #21b9f1;
           color: white;
        }

         #cont1555{

           display: grid;
           width:90%;
           margin: auto;
           margin-top: 10px;
           grid-template-columns: repeat(4,1fr);
           gap: 10px;   
        }

         #cont1555>div{

            /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
            border: 0.12rem dotted rgba(135, 190, 73, 0.5);
            box-shadow: rgb(0 155 0 / 4%) 0px 0px 12px;
            width:280px;
            height: 450px;
            margin: auto;
            text-align: center;
            line-height: 14px;
          }
         #cont1555>div>img{

            height:247px;
        }
    #our{
        width:90%;
        height: 40px;
        /* border: 1px solid red; */
       display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin: 1rem 0.5rem 0rem;
      margin: auto;
    }
    #sorter{
        font-size: 16px;
        font-weight: bold;
        color: rgb(0, 175, 239);
         text-align: center;
         margin-top: 10px;
         display: block;
         border: none;  
    }
    #bnn{
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .all{
        
    display: inline;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.4rem;
    color: rgb(0, 175, 239);
    border: 1px solid rgb(0, 175, 239);
    background-color: rgba(0, 175, 239, 0.05);
    border-radius: 10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
}
.rest{
    
    display: inline;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0.4rem;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 221);
    background-color: white;
    border-radius: 10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
}
#sel{
    display: flex;
    width:90%;
    margin:auto;
}
.hes{
    text-align: left;
    color: rgb(29, 29, 29);
    /* font-size: 20px; */
    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}