#productDetails{
    /* border: solid black 1px; */
    width: 70%;
}
#productDetails>div:first-child{
        display: flex;
        padding: 10px;
        /* justify-content: space-between; */
        /* border: solid red 1px; */

}
#productDetails>div h3{
    /* width: 70%; */
    color: #59a30e;
}
#Main_div{
    display: flex;
    justify-content: space-between;
    /* border:  solid blue 1px; */
    margin: auto 5%;
}

#Price_details{
    margin-top: 200px;
    border-radius: 5px;
    width: 25%;
    height: fit-content;
    border: solid #cdcdcd 1px;
    padding: 10px;

}
#Price_details h3{
    color: #59a30e;
    margin-top: 0%;
}
#img_div{
    width: 350px;
    height: 450px;
    /* border: solid black 1px; */
    border-radius:5px ;
    margin-right: 20px;
}
#title_div{
    width: 50%;
}
#img_div img{
    width: 100%;
    border: solid #e4e4e4 1px;
    border-radius: 10px;
}
.Price{
    font-weight: bolder;
    font-size: 25px;
    margin: 0;
}

#addTocart{
    width: 100%;
    font-size: 12px;
    height: 40px;
    background-color:#21b9f1;
    color: white;
    border: none
}

#logos{
    margin: 20px auto;
    height: 60px;
}